*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF0E1;
}

.container-principal {
    transition: 1s;
}

.cabecalho{
    text-align: center;
    width: 100vw;
    
}

.banner {
    width: 100vw;
    margin-bottom: 40px;
}

.titulo{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    position:relative;
}

.lista-servicos{
    padding: 60px 100px;
}

.sevicos {
    font-size: 32px;
    font-weight: 700;
}

.contato{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
}

input {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 50px;
    width: 352px;
    margin-bottom: 20px;
    padding: 0 10px;
}

img,a{
    margin-right: 10px;
}

textarea {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 100px;
    width: 352px;
    margin-bottom: 20px;
    padding: 10px 10px;
}

form {
    background: #ffffff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    transition: 1s;
}

button{
    background: #40BB15;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 174px;
    height: 52px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
}

.voltar{
    background: gray;
    width: 174px;
}

button:hover {
    opacity: 0.8;
}

/* media queries*/

@media screen and (max-width: 615px){
    .titulo{
        font-size: 44px;
    }

    .sevicos {
        font-size: 22px;
    }

    .botao{
        width: 250px;
    }
}

@media screen and (max-width: 486px){
    .titulo{
        font-size: 34px;
    }

    .sevicos {
        font-size: 15px;
    }

    .contato{

        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .botao{
        width: 200px;
    }
}